@import "../easy-liveblogs.css";
@import "light.css";

.elb-liveblog-list li.elb-liveblog-post {
    list-style-type: none !important;
    position: relative;
	padding-bottom: 30px;
}

.elb-liveblog-list li.elb-liveblog-post .elb-liveblog-post-heading {
    font-size: 1.33333em !important;
    font-weight: bold;
    margin: 0 0 20px 0;
}

.elb-liveblog li.elb-liveblog-post .elb-liveblog-post-time {
    margin-bottom: 4px;
    text-transform: uppercase;
    font-size: .75em !important;
    font-weight: medium;
    color: #555;
}

.elb-liveblog-post-sharing {
    display: flex;
    gap: 12px;
}

.elb-liveblog-post-sharing a {
    color: #999 !important;
}

.elb-liveblog-post-sharing a:hover {
    color: #555 !important;
}

.elb-button {
    cursor: pointer;
    background-color: #333;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    color: #fff;
}

.elb-liveblog-actions {
	font-size: .9rem;
	margin-top: 15px;
	opacity: .9;
    display: none;
}