@import "../easy-liveblogs.css";

.elb-liveblog ul.elb-liveblog-list {
	border-left: 1px dotted #bbb;
}

.elb-liveblog-post::before {
	background-color: #eee;
	border: 3px solid #ddd;
}

.elb-liveblog-post-heading {
	padding-top: .6em !important;
	font-size: 22px !important;
	margin-top: 0 !important;
}

.elb-liveblog-post-sharing {
	margin-top: 10px;
}

.elb-liveblog-post-sharing a {
	color: rgba( 0, 0, 0, .5 );
	display: inline-block;
}

.elb-liveblog-post-sharing a:hover {
	color: rgba( 0, 0, 0, 1 );
}

.elb-liveblog-post-content {
	width: 100%;
	overflow: hidden;
}

.elb-liveblog-post-content p:last-of-type {
	margin-bottom: 0;
}

.elb-liveblog-closed-message,
.elb-no-liveblog-entries-message {
	font-style: italic;
	margin: 15px 0;
}

.elb-liveblog-actions {
	font-size: .9rem;
	margin-top: 15px;
	opacity: .9;
    display: none;
}

.elb-liveblog-actions a {
	margin-right: 6px;
	display: inline-block;
}

.elb-liveblog-post-time {
	margin: 0;
	padding: 0;
	font-size: 14px;
}

.elb-liveblog-post-author {
	margin-top: 4px;
	font-size: 14px;
}

.elb-liveblog-post-time {
	color: #666;
}

.elb-liveblog-post-author {
	color: #111;
}

.elb-button {
	color: #fff;
}

#elb-show-new-posts {
	margin-bottom: 15px;
}