ul.elb-liveblog-list {
	list-style: none;
	margin: 0;
	padding: 0 0 0 30px;
}

.elb-liveblog .elb-liveblog-post {
	position: relative;
	padding-bottom: 30px;
}

.elb-liveblog .elb-liveblog-post:last-child {
	margin-bottom: 30px;
}

.elb-liveblog .elb-liveblog-post::before {
	content: '';
	display: block;
	position: absolute;
	left: -36px;
	top: 9px;
	width: 11px;
	height: 11px;
	line-height: 11px;
	font-size: 11px;
	border-radius: 50%;
}

.elb-is-editor .elb-liveblog-actions {
	display: block;
}

.elb-hide {
	display: none;
}

@keyframes elb-liveblog-highlight {
	0% {
	  background: #fefcbf;
	}
	100% {
	  background: none;
	}
  }

.elb-liveblog .elb-liveblog-highlight {
	animation: elb-liveblog-highlight 3s;
}

#elb-load-more {
	border: 0;
	margin-top: 10px;
}